{% extends 'backend/base.html' %}
{% load static %}
<!DOCTYPE html> 

{% block title%}
Home
{% endblock %}

{% block content %}

<div class="main-panel">
    <div class="content-wrapper">
      <div class="page-header">
        <h3 class="page-title">Change Password</h3>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Change your password</a></li>
            <li class="breadcrumb-item active" aria-current="page"></li>
          </ol>
        </nav>
      </div>
      <div class="row">
        <div class="col-md-6 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Change your password</h4>
              <form method="post" class="forms-sample">
               {{pass_key.as_p}}
               {% csrf_token %}
                <button type="submit" class="btn btn-primary mr-2">Submit</button>
              
              </form>
            </div>
          </div>
        </div>   
                        
                            
                            
           




{% endblock %}