{% extends 'backend/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
<!DOCTYPE html>

{% block title %}
Home
{% endblock %}


{% block content %}


<div class="main-panel">
  <div class="content-wrapper">
    <div class="page-header">
      <h3 class="page-title"> Edit Profile </h3>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Forms</a></li>
          <li class="breadcrumb-item active" aria-current="page">Edit Profile</li>
        </ol>
      </nav>
    </div>
    <div class="row">
      <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Edit your profile</h4>
            <form method="post" class="forms-sample">
              {% if messages %}
              {% for m in messages %}
                <div class="alert alert-success">{{m}}</div>

              {% endfor %}
              {% endif %}
              
             {{edit_pro.as_p}}
              <button type="submit" class="btn btn-primary mr-2">Submit</button>
             {% csrf_token %}
            </form>
          </div>
        </div>
      </div>   
    </div>
  </div>                  
                                          
{% endblock %}
          